<div class="homeLisanti__carrousel">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider1.jpg" alt="Random first slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider2.jpg" alt="Random second slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider3.jpg" alt="Random third slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider4.jpg" alt="Random fourth slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider6.jpg" alt="Random fourth slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider7.jpg" alt="Random fourth slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider8.jpg" alt="Random fourth slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider9.jpg" alt="Random fourth slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider10.jpg" alt="Random fourth slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider11.jpg" alt="Random fourth slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider12.jpg" alt="Random fourth slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider13.jpg" alt="Random fourth slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider14.jpg" alt="Random fourth slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider16.jpg" alt="Random fourth slide">
        </ng-template>
        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider17.jpg" alt="Random fourth slide">
        </ng-template>

        <ng-template ngbSlide>
            <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider18.jpg" alt="Random fourth slide">
        </ng-template>
    </ngb-carousel>
</div>