<div class="homeLisanti">
    <div class="homeLisanti__cultura">
        <div class="container">
            <div class="row homeLisanti__cultura-title">
                <h1 class=" homeLisanti__cultura-title-text mainTitle">Cultura Lisanti</h1>
            </div>
            <article>
                <div class="row homeLisanti__cultura-cultura">
                    <p class="col-12 homeLisanti__cultura-cultura-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt ipsum quidem nulla, impedit unde omnis soluta modi assumenda ducimus, reiciendis deleniti quibusdam odio rerum aspernatur suscipit provident placeat, quis nam?</p>
                </div>
            </article>
        </div>
    </div>
    <div class="homeLisanti__img">
        <img src="../../../../assets/img/1.jpg" art="" title="" class="homeLisanti__img-picture">
    </div>
</div>