<section class="container aboutLisanti">
    <div class="row col-12 aboutLisanti__title">
        <h1 class="aboutLisanti__title-text mainTitle">¿Qué saber sobre Lisanti?</h1>
    </div>
    <div class="col-12 col-md-6 aboutLisanti__explication">
        <p class="boutLisanti__explication-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex nihil quod quas molestias aspernatur qui. Commodi velit mollitia voluptates ducimus accusamus explicabo, placeat corporis tenetur cumque magnam tempore harum. Molestiae, ratione ipsam. Natus
            totam obcaecati nihil reiciendis, delectus dolorem vel vero dolor eos. Rerum, facere? Quaerat rerum labore nemo officiis.
        </p>
    </div>
</section>