<div class="loaderLisanti changePage fadeIn">
    <div class="loaderLisanti__loader">
        <img src="../../../../assets/img/Logos/logoLisantiTexto.png" alt="" class="loaderLisanti__loader-img">
        <div class="loaderLisanti__loader-bar"></div>
        <h2 class="loaderLisanti__loader construction text-center">Estamos en construcción. Disculpe las molestias</h2>
        <div class="footerLisanti__content-contact" style="display: flex; justify-content: space-between; max-width: 1200px; margin: auto">
            <div class="footerLisanti__content-contact-tlf"><a class="footerLisanti__content-contact-tlf-link" href="tel:+34914266872"><i class="footerLisanti__content-contact-tlf-link-icon fas fa-mobile-alt"></i>914 266 872 <small>(Lisanti I)</small></a></div>
            <div class="footerLisanti__content-contact-tlf"><a class="footerLisanti__content-contact-tlf-link" href="tel:+34916655916"><i class="footerLisanti__content-contact-tlf-link-icon fas fa-mobile-alt"></i>916 6559 16 <small>(Lisanti II)</small></a></div>
            <div class="footerLisanti__content-contact-email">
                <a href="mailto:ponteswerner@outlook.es" class="footerLisanti__content-contact-email-link"><i class="footerLisanti__content-contact-tlf-link-icon far fa-envelope"></i>ponteswerner@outlook.es</a>
            </div>
            <div class="footerLisanti__content-contact-direccion">
                <a href="https://goo.gl/maps/DCqvexwc5s52" class="footerLisanti__content-contact-direccion-link" target="_blank"><i class="footerLisanti__content-contact-tlf-link-icon fas fa-map-marker-alt"></i>C/ Conde de Serrallo 1, Madrid <small>(Lisanti I)</small></a>
            </div>
            <div class="footerLisanti__content-contact-direccion">
                <a href="https://goo.gl/maps/iMF3t5pRDedaiyVh8" class="footerLisanti__content-contact-direccion-link" target="_blank"><i class="footerLisanti__content-contact-tlf-link-icon fas fa-map-marker-alt"></i>C/ Calle Bravo Murillo 362, Madrid <small>(Lisanti II)</small></a>
            </div>
        </div>
    </div>
</div>