// === Transiciones

/* Transición menu Mobile */

.transMenuMobile {
    transform: translateX(-100%);
    &.activo {
        transform: translateX(0%);
    }
}


/* Transición para imágenes */

.formBg {
    backface-visibility: hidden;
    clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 0%);
    -o-clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 0%);
    -moz-clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 0%);
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 0%);
}


/* Transición lenta */

.tSlow {
    transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}


/* Transición rápida*/

.tFast {
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}