/* === Variables */

// Fonts
$fontPrincipal: 'KGDoYouLoveMe';
$fontSecondary: 'Roboto',
sans-serif;

/* === */

// Colors
$white: #ffffff;
$black: #000000;
$colorCoorp: #bc171e;
$colorCoorpStrong: #891723;
$title: transparentize($black, .8);
$text: transparentize($black, .5);