<div class="desayunosLisanti">
    <section>
        <app-banner-desayuno></app-banner-desayuno>
    </section>
    <section>
        <div class="container desayunosLisanti__body">
            <div class="row desayunosLisanti__body-title">
                <h1 class="desayunosLisanti__body-title-text mainTitle">Nuestros desayunos</h1>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h3 class="desayunosLisanti__content-lisantiI">Lisnati I</h3>
                    <img src="../../../assets/img/Cartas/Desayunos/DesayunosLisantiI.jpg" alt="" class="desayunosLisanti__content-lisantiI-img">
                    <hr>
                    <p class="desayunosLisanti__content-lisantiI-download">Mira la carta sin conexión en cualquier lugar.
                        <a class="desayunosLisanti__content-lisantiI-download-link" target="_blank" href="../../../assets/img/Cartas/Desayunos/Desayunos_Lisanti_I.pdf">¡¡Descargatela!!</a> </p>
                </div>
                <div class="col-12 col-lg-6">
                    <h3 class="desayunosLisanti__content-lisantiII">Lisnati II</h3>
                    <img src="../../../assets/img/Cartas/Desayunos/DesayunosLisantiII.jpg" alt="" class="desayunosLisanti__content-lisantiII-img">
                    <hr>
                    <p class="desayunosLisanti__content-lisantiII-download">Mira la carta sin conexión en cualquier lugar.
                        <a class="desayunosLisanti__content-lisantiII-download-link" target="_blank" href="../../../assets/img/Cartas/Desayunos/Desayunos_Lisanti_II.pdf">¡¡Descargatela!!</a> </p>
                </div>
            </div>
        </div>
    </section>
</div>