@import "../../../styles.scss";
.bannerOfering__img {
    img {
        max-width: 100%;
    }
}

.desayunosLisanti {
    &__banner {
        &-img {
            max-width: 100%;
        }
    }
    &__content {
        &-lisantiI,
        &-lisantiII {
            &-img {
                width: 100%;
            }
        }
    }
}