@import "../../../../styles.scss";
.homeLisanti {
    &__map {
        background-color: $white;
        position: relative;
        agm-map {
            height: 600px;
        }
        &-title {
            top: 140px;
        }
    }
}

.I {
    color: $colorCoorp;
}