@import "../../../../styles.scss";
.bgMaps {
    background-color: $white;
    padding-bottom: 40px;
}

.homeLisanti {
    &__map {
        background-color: $white;
        position: relative;
        agm-map {
            height: 300px;
        }
        &-title {
            top: 140px;
        }
    }
}

.I {
    color: $colorCoorp;
}