    @import "../../../styles.scss";
    .homeLisanti {
        margin-top: 160px;
        &__carrousel {
            display: none;
        }
        &__bodyHome {
            background: #bc171e;
            padding: 15px 0px;
            &-cultura {
                &-text {
                    color: $white;
                }
                &-img {
                    width: 100%;
                    height: 200px;
                }
            }
        }
        &__ofering {
            &-content {
                cursor: pointer;
                position: relative;
                width: 100%;
                border: 1px solid $grey-light;
                border-radius: 5px;
                padding: 5px;
                margin: 5px 15px;
                overflow: hidden;
                &.activo,
                &:hover {
                    box-shadow: 0px 5px 10px $grey;
                }
                &-title {
                    width: 100%;
                    text-align: center;
                }
                &-icon {
                    width: 100%;
                    text-align: center;
                    font-size: 50px;
                }
                &-bg {
                    width: 100%;
                    height: 100%;
                    background-color: transparentize($color: $black, $amount: .2);
                    padding: 10px;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    z-index: 1;
                    transform: translateY(100%);
                    &.activo {
                        transform: translateY(0%);
                    }
                    &-text {
                        color: $white;
                    }
                    &-btn {
                        width: 200px;
                        position: absolute;
                        left: 10px;
                        bottom: 10px;
                        right: 10px;
                        z-index: 2;
                        @extend .tFast;
                        &:hover {
                            color: $grey;
                            text-decoration: none;
                        }
                    }
                }
                &-ambiente {
                    margin-top: 10px;
                    text-align: right;
                }
            }
        }
    }
    
    @media only screen and (min-width: 768px) {
        .homeLisanti {
            margin-top: 0px;
            &__carrousel {
                z-index: -1;
                display: block;
                width: 100%;
                position: relative;
                &-img {
                    width: 100vw;
                    height: 100vh;
                }
            }
            &__bodyHome {
                position: relative;
                background-color: #bc171e;
                background: -moz-linear-gradient(left, #bc171e 0%, #ffffff 100%);
                background: -webkit-linear-gradient(left, #bc171e 0%, #ffffff 100%);
                background: linear-gradient(to right, #bc171e 0%, #ffffff 100%);
                padding: 20px;
                &-title {
                    &-text {
                        text-align: left;
                    }
                }
                &-cultura {
                    margin-bottom: 30px;
                    &-img {
                        height: 300px;
                    }
                }
            }
            &__ofering {
                &-content {
                    width: 24%;
                    margin: 10px auto;
                }
            }
        }
    }