<div class="homeLisanti changePage fadeIn">
    <div class="homeLisanti__carrousel">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
                <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider1.jpg" alt="Random first slide">
                <div class="carousel-caption">
                    <h3>10 seconds between slides...</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider2.jpg" alt="Random second slide">
                <div class="carousel-caption">
                    <h3>No mouse events...</h3>
                    <p>This carousel doesn't pause or resume on mouse events</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider3.jpg" alt="Random third slide">
                <div class="carousel-caption">
                    <h3>No keyboard...</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider4.jpg" alt="Random fourth slide">
                <div class="carousel-caption">
                    <h3>And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="homeLisanti__carrousel-img" src="../../../assets/img/Slider/slider5.jpg" alt="Random fourth slide">
                <div class="carousel-caption">
                    <h3>And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <section class="homeLisanti__bodyHome">
        <div class="container">
            <div class="row homeLisanti__bodyHome-title">
                <h1 class=" homeLisanti__bodyHome-title-text mainTitle">Cultura Lisanti</h1>
            </div>
            <div class="row homeLisanti__bodyHome-cultura">
                <p class="col-12 col-md-6 homeLisanti__bodyHome-cultura-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt ipsum quidem nulla, impedit unde omnis soluta modi assumenda ducimus, reiciendis deleniti quibusdam odio rerum aspernatur suscipit provident placeat, quis nam?</p>
                <img src="../../../assets/img/1.jpg" alt="Cultura Lisanti" title="Cultura Lisanti" class="col-12 col-md-6 homeLisanti__bodyHome-cultura-img formImg">
            </div>
        </div>
    </section>
    <section class="container homeLisanti__ofering">
        <div class="row homeLisanti__ofering-title">
            <h2 class="homeLisanti__ofering-title-text subTitle">¿Qué podemos ofrecerte?</h2>
        </div>
        <div class="row">
            <div class="homeLisanti__ofering-content tFast" (click)="deslizarTextoDesayuno = !deslizarTextoDesayuno" [ngClass]="deslizarTextoDesayuno ? 'activo' : ''">
                <h3 class="homeLisanti__ofering-content-title">Desayunos</h3>
                <div class="homeLisanti__ofering-content-icon">
                    <i class="fas fa-coffee"></i>
                </div>
                <div class="homeLisanti__ofering-content-bg tSlow" [ngClass]="deslizarTextoDesayuno ? 'activo' : ''">
                    <p class="homeLisanti__ofering-content-bg-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, incidunt?</p>
                    <a [routerLink]="['/desayuno']" class="homeLisanti__ofering-content-bg-btn btnDefault">Leer más</a>
                </div>
            </div>
            <div class="homeLisanti__ofering-content tFast" (click)="deslizarTextoMenu = !deslizarTextoMenu" [ngClass]="deslizarTextoMenu ? 'activo' : ''">
                <h3 class="homeLisanti__ofering-content-title">Menú y Carta</h3>
                <div class="homeLisanti__ofering-content-icon">
                    <i class="fas fa-utensils"></i>
                </div>
                <div class="homeLisanti__ofering-content-bg tSlow" [ngClass]="deslizarTextoMenu ? 'activo' : ''">
                    <p class="homeLisanti__ofering-content-bg-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, incidunt?</p>
                    <button [routerLink]="['/menu']" class="homeLisanti__ofering-content-bg-btn btnDefault">Leer más</button>
                </div>
            </div>
            <div class="homeLisanti__ofering-content tFast" (click)="deslizarTextoVino = !deslizarTextoVino" [ngClass]="deslizarTextoVino ? 'activo' : ''">
                <h3 class="homeLisanti__ofering-content-title">Cervezas y Vinos</h3>
                <div class="homeLisanti__ofering-content-icon">
                    <i class="fas fa-beer"></i>
                </div>
                <div class="homeLisanti__ofering-content-bg tSlow" [ngClass]="deslizarTextoVino ? 'activo' : ''">
                    <p class="homeLisanti__ofering-content-bg-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, incidunt?</p>
                    <button [routerLink]="['/vino']" class="homeLisanti__ofering-content-bg-btn btnDefault">Leer más</button>
                </div>
            </div>
            <div class="homeLisanti__ofering-content tFast" (click)="deslizarTextoCopa = !deslizarTextoCopa" [ngClass]="deslizarTextoCopa ? 'activo' : ''">
                <h3 class="homeLisanti__ofering-content-title">Copas</h3>
                <div class="homeLisanti__ofering-content-icon">
                    <i class="fas fa-cocktail"></i>
                </div>
                <div class="homeLisanti__ofering-content-bg tSlow" [ngClass]="deslizarTextoCopa ? 'activo' : ''">
                    <p class="homeLisanti__ofering-content-bg-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, incidunt?</p>
                    <button [routerLink]="['/copas']" class="homeLisanti__ofering-content-bg-btn btnDefault">Leer más</button>
                </div>
            </div>
        </div>
        <h3 class="homeLisanti__ofering-content-ambiente">... y sobre todo ¡¡buen ambiente!!</h3>
    </section>
    <section>
        <app-map></app-map>
    </section>
</div>