@import "../../../styles.scss";
.homeLisanti {
    &__carrousel {
        display: none;
    }
    &__bodyHome {
        &-cultura {
            &-img {
                width: 100%;
                height: 200px;
            }
        }
    }
    &__map {
        position: relative;
        margin-bottom: 30px;
        agm-map {
            height: 300px;
        }
        &-title {
            top: 140px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .homeLisanti {
        &__carrousel {
            display: block;
            width: 100%;
            position: relative;
            top: -140px;
            &-img {
                width: 100vw;
                height: 100vh;
            }
        }
        &__bodyHome {
            position: relative;
            &-title {
                &-text {
                    text-align: left;
                }
            }
            &-cultura {
                margin-bottom: 30px;
                &-img {
                    height: 300px;
                }
            }
        }
    }
}