@import "../../../styles.scss";
.homeLisanti {
    &__carrousel {
        display: none;
    }
    &__bodyHome {
        background-color: $white;
        &-title {
            &-text {
                text-align: center;
            }
        }
        &-cultura {
            &-img {
                width: 100%;
                height: 200px;
            }
        }
    }
    &__map {
        position: relative;
        top: 150px;
        margin-bottom: 30px;
        agm-map {
            height: 300px;
        }
        &-title {
            top: 140px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .homeLisanti {
        &__carrousel {
            display: block;
            width: 100%;
            position: absolute;
            top: 0px;
            &-img {
                width: 100vw;
                height: 100vh;
            }
        }
        &__bodyHome {
            position: relative;
            &-title {
                position: absolute;
                top: 500px;
                &-text {
                    text-align: left;
                }
            }
            &-cultura {
                position: absolute;
                top: 600px;
                margin-bottom: 30px;
                &-img {
                    height: 300px;
                }
            }
        }
        &__map {
            top: 950px;
            &-title {
                top: 930px;
            }
        }
    }
}