@import "../../../../styles.scss";
.homeLisanti {
    &__ofering {
        background-color: $white;
        width: 100%;
        &-content {
            cursor: pointer;
            position: relative;
            width: 100%;
            border: 1px solid $grey-light;
            border-radius: 5px;
            padding: 5px;
            margin: 5px 15px;
            overflow: hidden;
            &.activo,
            &:hover {
                box-shadow: 0px 5px 10px $grey;
            }
            &-title {
                width: 100%;
                text-align: center;
            }
            &-icon {
                width: 100%;
                text-align: center;
                font-size: 50px;
            }
            &-bg {
                width: 100%;
                height: 100%;
                background-color: transparentize($color: $black, $amount: .2);
                padding: 10px;
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 1;
                transform: translateY(100%);
                &.activo {
                    transform: translateY(0%);
                }
                &-text {
                    color: $white;
                }
                &-btn {
                    width: 200px;
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    right: 10px;
                    z-index: 2;
                    @extend .tFast;
                    &:hover {
                        color: $grey;
                        text-decoration: none;
                    }
                }
            }
            &-ambiente {
                margin-top: 10px;
                margin-bottom: 0px;
                ;
                text-align: right;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .homeLisanti {
        &__ofering {
            &-content {
                width: 24%;
                margin: 10px auto;
            }
        }
    }
}