@import "../../../../styles.scss";
.cabeceraLisanti {
    &__navBar {
        position: relative;
        &-social {
            position: absolute;
            margin-left: 20px;
            top: 0px;
            z-index: 6;
            &.activo {
                z-index: 1;
            }
            &-face,
            &-insta {
                font-size: 25px;
                margin-left: 25px;
                &:nth-child(1) {
                    margin-left: 0px;
                }
            }
        }
        &-logo {
            max-width: 120px;
            margin: 10px auto;
            &-img {
                max-width: 100%;
            }
        }
        &-mobile {
            position: absolute;
            right: 20px;
            top: 5px;
            width: 50px;
            height: 30px;
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            z-index: 5;
            .hamb {
                position: absolute;
                border-radius: 2px;
                width: 50px;
                height: 5px;
                background-color: $colorCoorp;
                left: 0px;
                display: block;
                &:nth-child(1) {
                    top: 0px;
                }
                &:nth-child(2) {
                    top: 10px;
                }
                &:nth-child(3) {
                    top: 20px;
                }
                &.activo {
                    &:nth-child(1) {
                        transform: rotate(45deg);
                        top: 10px;
                        background-color: $white;
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        top: 10px;
                        background-color: $white;
                    }
                }
            }
        }
        &-list {
            position: absolute;
            top: -10px;
            width: 100%;
            list-style: none;
            padding-left: 0px;
            background-color: $colorCoorpStrong;
            z-index: 4;
            @extend .tFast;
            @extend .transMenuMobile;
            box-shadow: 0px 10px -5px $grey;
            img {
                width: 70px;
                position: absolute;
                top: 15px;
                left: 15px;
            }
            &-item {
                width: 100%;
                padding: 15px 0px;
                border-bottom: 1px solid $white;
                position: relative;
                left: 115px;
                &:nth-child(1) {
                    padding-bottom: 0px;
                }
                &:last-child {
                    border-bottom: none;
                }
                &-link {
                    @extend .menuLinks;
                    font-size: 14px;
                    &-icon {
                        position: absolute;
                        color: $white;
                        cursor: pointer;
                        top: 22px;
                        left: 100px;
                        &.activo {
                            transform: rotate(-180deg);
                        }
                    }
                }
                &-servicios {
                    position: relative;
                    left: -20px;
                    list-style: none;
                    height: 0px;
                    opacity: 0;
                    &.activo {
                        height: 100%;
                        opacity: 1;
                        @extend .tFast;
                    }
                    &-serviciosItem {
                        color: $white;
                        &-icon {
                            margin-right: 10px;
                            width: 20px;
                            text-align: center;
                        }
                        &-serviciosLink {
                            color: $white;
                            @extend .tFast;
                            &:hover {
                                color: $grey;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .cabeceraLisanti {
        &__navBar {
            position: relative;
            &-social {
                position: absolute;
                right: 35px;
                top: 20px;
                width: 60px;
            }
            &-logo {
                position: absolute;
                left: 10px;
            }
            &-mobile {
                display: none;
            }
            &-list {
                @extend .menuDesktop;
                background-color: transparent;
                display: flex;
                width: auto;
                right: 102px;
                top: 50px;
                img {
                    display: none;
                }
                &-item {
                    width: auto;
                    margin-right: 40px;
                    border-bottom: 0px;
                    &-link {
                        color: $link;
                        padding: 5px 10px;
                        text-align: center;
                        &:hover {
                            color: $linkHover;
                        }
                        &-icon {
                            color: $colorCoorp;
                            left: 110px;
                            transform: rotate(90deg);
                            &.activo {
                                transform: rotate(-90deg);
                            }
                        }
                    }
                    &-servicios {
                        position: absolute;
                        list-style: none;
                        display: flex;
                        top: 50px;
                        @extend .transMenuDesktop;
                        &-serviciosItem {
                            color: $colorCoorp;
                            margin-left: 20px;
                            width: 150px;
                            &-icon {
                                margin-right: 10px;
                                width: 20px;
                                text-align: center;
                            }
                            &-serviciosLink {
                                color: $colorCoorp;
                                &:hover {
                                    color: $colorCoorpStrong;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}