<header class="cabeceraLisanti">
    <nav class="cabeceraLisanti__navBar">
        <div class="cabeceraLisanti__navBar-social" [ngClass]="abrirMenu ? 'activo' : ''">
            <a href="#" class="cabeceraLisanti__navBar-social-face">
                <i class="cabeceraLisanti__navBar-social-face-icon fab fa-facebook-f"></i>
            </a>
            <a href="#" class="cabeceraLisanti__navBar-social-insta">
                <i class="cabeceraLisanti__navBar-social-face-icon fab fa-instagram"></i>
            </a>
        </div>
        <div class="cabeceraLisanti__navBar-logo">
            <img src="../../../../assets/img/logoLisantiTexto.png" alt="Logo Lisanti" title="Logo Lisanti" class="cabeceraLisanti__navBar-logo-img">
        </div>
        <button (click)="abrirMenu = !abrirMenu" type="button" class="cabeceraLisanti__navBar-mobile">
            <span [ngClass]="abrirMenu ? 'activo' : ''" class="cabeceraLisanti__navBar-mobile hamb tFast"></span>
            <span [ngClass]="abrirMenu ? 'activo' : ''" class="cabeceraLisanti__navBar-mobile hamb tFast"></span>
            <span [ngClass]="abrirMenu ? 'activo' : ''" class="cabeceraLisanti__navBar-mobile hamb tFast"></span>
        </button >
        <ul class="cabeceraLisanti__navBar-list" [ngClass]="abrirMenu ? 'activo' : ''">
            <li class="cabeceraLisanti__navBar-list-logo">
                <img src="../../../../assets/img/LogoLisantiVertical.png" alt="Logo Lisanti" title="Logo Lisanti" class="cabeceraLisanti__navBar-list-logo-img">
            </li>
            <li class="cabeceraLisanti__navBar-list-item">
                <a href="#" class="cabeceraLisanti__navBar-list-item-link">Inicio</a>
            </li>
            <li class="cabeceraLisanti__navBar-list-item">
                <a href="#" class="cabeceraLisanti__navBar-list-item-link">Quíen somos</a>
            </li>
            <li class="cabeceraLisanti__navBar-list-item">
                <a href="#" class="cabeceraLisanti__navBar-list-item-link">Qué ofrecemos</a>
            </li>
            <li class="cabeceraLisanti__navBar-list-item">
                <a href="#" class="cabeceraLisanti__navBar-list-item-link">Contáctanos</a>
            </li>
        </ul>
    </nav>
</header>