<div class="menusLisanti">
    <section>
        <app-banner-menu></app-banner-menu>
    </section>
    <section class="container">
        <div class="container menusLisanti__body">
            <div class="row menusLisanti__body-title">
                <h1 class="menusLisanti__body-title-text mainTitle">Nuestros Menús y Carta</h1>
            </div>
            <div class="row menuLisanti__contentMenu">
                <h3 class="menuLisanti__contentMenu-title mb-0">Nuestros menus son cada día distintos, así que pasate por uno de nuestros restaurantes y ¡¡sorprendete!!</h3>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="menuLisanti__contentCarta">
            <h2 class="menuLisanti__contentCarta-title">Nuestras Cartas</h2>
        </div>
        <hr>
        <h3>Lisanti I</h3>
        <div class="row menuLisanti__contentCarta">
            <div class="col-12 col-lg-6">
                <img class="menuLisanti__contentCarta-img1" src="../../../assets/img/Cartas/Carta/Carta_Lisanti_I.jpg" alt="">
            </div>
            <div class="col-12 col-lg-6">
                <img class="menuLisanti__contentCarta-img2" src="../../../assets/img/Cartas/Carta/Carta_Lisanti_I2.jpg" alt="">
            </div>
            <p class="desayunosLisanti__contentCarta-lisantiI-download mt-3">Mira la carta sin conexión en cualquier lugar.
                <a class="desayunosLisanti__contentCarta-lisantiI-download-link" href="../../../assets/img/Cartas/Carta/Carta_Lisanti_I.pdf" target="_blank">¡¡Descargatela!!</a> </p>
        </div>
        <h3>Lisanti II</h3>
        <div class="row menuLisanti__contentCarta">
            <iframe class="col-12 menuLisanti__contentCarta-ifreme" src="../../../assets/img/Cartas/Carta/CartaLisantiII/index.html" frameborder="0"></iframe>
            <p class="desayunosLisanti__contentCarta-lisantiI-download mt-3">Mira la carta sin conexión en cualquier lugar.
                <a class="desayunosLisanti__contentCarta-lisantiI-download-link" href="#" target="_blank">¡¡Descargatela!!</a> </p>
        </div>
    </section>
</div>