<footer class="footerLisanti">
    <div class="container footerLisanti__content">
        <div class="row">
            <div class="footerLisanti__content-contact col-12 col-md-5">
                <div class="footerLisanti__content-contact-tlf"><a class="footerLisanti__content-contact-tlf-link" href="tel:+34000000000"><i class="footerLisanti__content-contact-tlf-link-icon fas fa-mobile-alt"></i>600 123 456 789</a></div>
                <div class="footerLisanti__content-contact-email">
                    <a href="mailto:youremailaddress" class="footerLisanti__content-contact-email-link"><i class="footerLisanti__content-contact-tlf-link-icon far fa-envelope"></i>lisanti@lisanti.com</a>
                </div>
                <div class="footerLisanti__content-contact-direccion">
                    <a href="https://goo.gl/maps/DCqvexwc5s52" class="footerLisanti__content-contact-direccion-link"><i class="footerLisanti__content-contact-tlf-link-icon fas fa-map-marker-alt"></i>C/ Conde de Serrallo 1, Madrid, 28029</a>
                </div>
            </div>
            <div class="footerLisanti__content-logo col-6 col-md-2">
                <img src="../../../../assets/img/logoLisantiSombra.png" class="footerLisanti__content-logo-img">
            </div>
            <div class="footerLisanti__content-social col-6 col-md-5">
                <p class="footerLisanti__content-social-text">Siguenos en:</p>
                <div class="footerLisanti__content-social-icons">
                    <a href="#" class="footerLisanti__content-social-icons-icon">
                        <i class="footerLisanti__content-social-icons-icon-face fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="footerLisanti__content-social-icons-icon">
                        <i class="footerLisanti__content-social-icons-icon-insta fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row footerLisanti__info">
            <div class="footerLisanti__info-copy col-12 col-md-6">
                <p class="footerLisanti__info-copy-text">&copy;Lisanti {{ anio }}</p>
            </div>
            <div class="footerLisanti__info col-12 col-md-6">
                <div class="footerLisanti__info-powered">
                    <div class="footerLisanti__info-powered-text col-md-8">Powered by:</div>
                    <a href="http://www.jmmcdesign.com" target="_blank" class="footerLisanti__info-powered-link col-md-6"><img src="../../../../assets/img/logo_blanc.png" alt="jmmc design" title="jmmc design" class="footerLisanti__info-powered-link-logo"></a>
                </div>
            </div>
        </div>
    </div>
</footer>